<body [hidden]="!valorEmail">
  <section class="form-register">
    <h4>{{"new Subscriber"| translate}}</h4>
    <form [formGroup]="profileForm">
      <input class="controls" formControlName="Name" type="text" name="nombres" id="nombres"
        placeholder="{{'Name'| translate}}">
      <input class="controls" formControlName="Email" type="email" name="correo" id="correo"
        placeholder=" {{'Email'| translate}}">
      <input class="controls" formControlName="ContryCode" type="text" name="correo" id="correo"
        placeholder="{{'Contry Code'| translate}}">
        <ng-select #activityNgSelect id="Warnings_type" class="controls" formControlName="ContryCode" [dropdownPosition]="'bottom'" [loading]="loading" bindLabel="Code"[items]="lisCountries" bindValue="Code"  placeholder="{{'Contry Code' | translate }}" clearAllText="Clear">
        </ng-select>
        <ng-select #activityNgSelect id="Warnings_type" class="controls" formControlName="ContryCode" [dropdownPosition]="'bottom'" [loading]="loading" bindLabel="Name"[items]="lisCountries" bindValue="Name"  placeholder="{{'Contry Name' | translate }}" clearAllText="Clear">
        </ng-select>
        <ng-select #activityNgSelect id="Warnings_type" class="controls" formControlName="Phonecode" [dropdownPosition]="'bottom'" [loading]="loading" bindLabel="PhoneCode"[items]="lisCountries" bindValue="PhoneCode"  placeholder="{{'Phone code' | translate }}" clearAllText="Clear">
        </ng-select>
      <input class="controls" formControlName="phomeNumber" type="number" name="correo" id="correo"
        placeholder="{{'phome Number'| translate}}">
      <input class="controls" formControlName="JobTitle" type="text" name="correo" id="correo"
        placeholder="{{'Job Title'| translate}}">
      <input class="controls" formControlName="Area" type="text" name="correo" id="correo"
        placeholder="{{'Area'| translate}}">

      <input class="botons" type="submit" (click)="Validator()" value="{{'Register'| translate}}">
    </form>
  </section>

</body>