

<body>
  <section class="form-register">
    <h4>new subscriber</h4>
    <input class="controls" type="text" name="nombres" id="nombres" placeholder="Name">
    <input class="controls" type="email" name="correo" id="correo" placeholder="Email">
    <input class="controls" type="text" name="correo" id="correo" placeholder="Contry Code">
    <input class="controls" type="text" name="correo" id="correo" placeholder="Contry Name">
    <input class="controls" type="number" name="correo" id="correo" placeholder="Phone code">
    <input class="controls" type="number" name="correo" id="correo" placeholder="phome Number">
    <input class="controls" type="text" name="correo" id="correo" placeholder="Job Title">
    <input class="controls" type="text" name="correo" id="correo" placeholder="Area">

    <input class="botons" type="submit" value="Registrar">
    
  </section>

</body>
