<!--
  Recuerde conservar los id, no deben ser modificados
  ids = user-list__filter, user-list__table, user-list__table-item-[index], user-list__table-item-[index]-avatar, user-list__table-item-[index]-first_name, user-list__table-item-[index]-email, user-list__table-item-[index]-btn-delete
  Remplazar [index] por el valor ejemplo "user-list__table-item-0"
-->

<div class="card w-50 mx-auto pb-30">
  <div class="form-group">
    <input type="text" id="user-list__filter"  class="forms-control" placeholder="Buscar.."
      name="filterPost" />
  </div>
  <div class="alert" [hidden]="bolDivAlert">
    <div *ngFor="let item of objectDelet">
      <div> {{ item.first_name }} {{ item.last_name }} was deleted</div>
    </div>
  </div>
  <table id="user-list__table">
    <thead>
      <tr>
        <th class="sortable">Face</th>
        <th class="sortable">Id</th>
        <th class="sortable">Email</th>
        <th class="sortable">Name</th>
        <th class="sortable">Option</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let index of array ">
        <td [id]="'user-list__table-item-'+'{{index.id}}'">{{ index.id }}</td>
        <td [id]="'user-list__table-item-'+'{{index.id}}'+'-avatar'"><img class="logo" [src]="index.avatar" /></td>
        <td [id]="'user-list__table-item-'+'{{index.id}}'+'-email'">{{ index.email }}</td>
        <td [id]="'user-list__table-item-'+'{{index.id}}'+'-first_name'">{{ index.first_name }}</td>
        <td>
          <button mat-fab [id]="'user-list__table-item-'[index.id]+'-btn-delete'" color="primary"
            (click)="idExiste(index.id)" aria-label="Example icon button with a delete icon">
            delet
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>