<!--
  Recuerde conservar los id, no deben ser modificados
  ids = user-list__filter, user-list__table, user-list__table-item-[index], user-list__table-item-[index]-avatar, user-list__table-item-[index]-first_name, user-list__table-item-[index]-email, user-list__table-item-[index]-btn-delete
  Remplazar [index] por el valor ejemplo "user-list__table-item-0"
-->

<div class="card w-50 mx-auto pb-50">
  
  <table id="user-list__table" class="table table-dark table-striped">
    <thead>
      <tr>
       
        <th class="sortable">Id</th>
        <th class="sortable">Email</th>
        <th class="sortable">Name</th>
        <th class="sortable">Option</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let index of array ">
        <td [id]="'user-list__table-item-'+'{{index.id}}'">{{ index.Id }}</td>
        <td [id]="'user-list__table-item-'+'{{index.id}}'">{{ index.Name }}</td>
        <td [id]="'user-list__table-item-'+'{{index.id}}'">{{ index.Email }}</td>
   
        <td>
          <button mat-fab [id]="'user-list__table-item-'[index.id]+'-btn-delete'" color="primary"
            (click)="idExiste(index.id)" aria-label="Example icon button with a delete icon">
            delet
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>